---
import WooparooTable from "../components/WooparooTable";
import { getWooparoos } from "../lib/microcms";


// MicroCMSからデータを取得
const combinedContents = await getWooparoos({
  fields: ["id", "wooparoo_id", "name", "image", "egg_image", "type", "time"],
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>ウパルオデッセイ 攻略</title>
  </head>
  <body>
    <main>
      <!-- Reactコンポーネントをここに挿入 -->
      <WooparooTable contents={combinedContents} client:load />
    </main>
  </body>
</html>
